<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Noel</title>

    <link rel="shortcut icon" href="./img/person-badge.svg">
    <meta name='description' content='網站描述文字' />


    <meta property="og:title" content="Noel" />
    <meta property="og:description" content="FB的描述">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="FB上的網址" />
    <meta property="og:image" content="FB的圖片" />

    <link href="圖片路徑" rel="apple-touch-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style/css/all.css">
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-white position-relative ">
            <div class="container-fluid px-5 pt-3">
                <h1><a class="navbar-brand logo" href="#">Noel</a></h1>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="change-icon navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  position-lg-absolute start-lg-50 translate-middle-lg-x text-center"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link " href="#">首頁</a>
                        </li>
                        <li class="nav-item position-relative">
                            <div class="border-corner left-top"></div>
                            <div class="border-corner left-top"></div>
                            <div class="border-corner right-top"></div>
                            <div class="border-corner left-bottom"></div>
                            <div class="border-corner right-bottom"></div>
                            <a class="nav-link active" aria-current="page" href="#">作品集</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">服務項目</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">部落格</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">聯絡我</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <footer class="footer footer-bg mt-5">
        <div class="container">
            <div class="row align-items-center justify-content-center g-4 g-lg-0">
                <ul class="col-lg-8 list-unstyled text-center text-lg-start">
                    <li><a class="logo mx-auto mx-lg-0" href="#">Noel</a></li>
                    <li class="py-3">
                        <p>若有數位產品設計和開發相關問題<br>歡迎填寫表單，或直接與我聯絡！</p>
                    </li>
                    <li>
                        <a href="mailto:service@hexschool.com"
                            class="link-primary text-decoration-none">service@hexschool.com</a>
                    </li>
                </ul>
                <ul class="col-lg-3 list-group pt-lg-3">
                    <li class="list-group-item list-group-item-action mb-3 d-flex align-items-center py-1 rounded-2 border-1"
                        aria-current="true">
                        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/list.svg"
                            class="img-fluid img-color" alt="list icon">
                        <a href="" class="text-decoration-none d-block stretched-link link-dark fs-5">
                            填寫表單
                        </a>
                    </li>
                    <li
                        class="list-group-item list-group-item-action mb-3 d-flex align-items-center py-1 rounded-2 border-1">
                        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/instagram.svg"
                            class="img-fluid " alt="Instagram icon">
                        <a href="" class="text-decoration-none d-block stretched-link link-dark fs-5">
                            hexschool_demo
                        </a>
                    </li>
                    <li
                        class="list-group-item list-group-item-action mb-3 d-flex align-items-center py-1 rounded-2 border-1">
                        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a0deba953fc5322a513e717e7c24b25fa3d946f8/2024%20web-camp/facebook.svg"
                            class="img-fluid " alt="Facebook icon">
                        <a href="" class="text-decoration-none text-nowrap d-block stretched-link link-dark fs-5">
                            hexschool&nbsp;TW
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="js/all.js"></script>
</body>

</html>