.border-dec{
    &-ui::after{
        content: "";
        position: absolute;  
        width: 41px;
        border: 1px solid $primary;  
        top: 50%;
        translate: -50% ,-50%;
    }
    &::after{
        content: "";
        position: absolute;  
        width: 24px;
        border: 1px solid $primary;  
        top: 50%;
        left: 50%;
        translate: -50% ,-50%;
    }
}