.logo{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/d796f511bed88b5468b1c02b9dc1f17048b1448f/2024%20web-camp/logo.svg);
    width: 90px;
    height: 40px;
    display: block;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;

}